<footer id="footer-container" class="footer">
    <div class="row text-block">
    <p>Propulsé par</p>
    <ul class="footer-links">
        <li><a href="http://www.python.org/" id="python-link" title="Python - Language de programmation libre" class="sprite-link">Python</a></li>
        <li class="muted">·</li>
        <li><a href="https://www.djangoproject.com/" title="Django - Framework Python" id="django-link" class="sprite-link">Django</a></li>
        <li class="muted">·</li>
        <li><a href="http://getbootstrap.com/" title="Twitter Bootstrap - Framework CSS" id="bootstrap-link" class="sprite-link">Twitter Bootstrap</a></li>
        <li class="muted">·</li>
        <li><a href="https://www.angularjs.org/" title="AngularJS - Framework JS" id="angularjs-link" class="sprite-link">AngularJS</a></li>
    </ul>
    </div>
    <div class="row text-block">
          <em>© 2013 rouhRouh'. Tous droits réservés.</em>
    </div>
</footer>
